.background {
  background-color: #080B10;
  width: 100vw;
  height: 100vh;
}

.title {
  color: #FFF;
}

#button {
  background-color: #329B2A;
  border: #329B2A;
  margin-top: 10px;
  margin-bottom: 15px;
}

.carousel {
  margin-top: 30px;
}

.container {
  margin-bottom: 100px;
}